@import 'https://fonts.googleapis.com/css?family=Grand+Hotel|Work+Sans:400,700';


// Fonts
$logo: 'Grand Hotel', cursive;
$font: 'Work Sans', sans-serif; //400,700

// Colors
$black: #333;
$brown: #3a3335;
$white: #fdf0d5;
$pink: #e84855;
$blue: #2e5077;
$blue2: #2C8C99;
$red: #611c35;
$teal: #42D9C8;



body {
  background: $white;
  -webkit-font-smoothing: antialiased;
  font: 18px / 22px $font;
  color: $black;

}
a {
  text-decoration: none;
  color: $red;
  &:hover {
    text-decoration: none;
  }
}
button:focus {
  outline: 0;
}


@import "partials/header";
@import "partials/forms";
@import "partials/menu";
@import "partials/login";
@import "partials/profile";
@import "partials/add-friend";
