.profile-name {
    span {
      font-weight: 700;
    }
}

.save-profile {
    position: relative;
    top: -105px;
    left: 0;
    margin: 5px 5%;
    font: 700 12px / 22px $font;
    color: $blue2;
    text-transform: uppercase;
    i {
        font-size: 12px;
    }
    &:hover {
        color: darken($blue2, 25%);
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
}
.section-save-button {
    margin: 50px auto;
    text-align: center;
    .profile-submit-button {
        background: $red;
        border: 2px solid $red;
        border-radius: 10px;
        margin: auto;
        padding: 5px 10% 8px;
        font: 700 18px / 20px $font;
        color: darken($red, 15%);
        text-transform: uppercase;
        text-align: center;
        opacity: 1;
        i {
            font-size: 14px;
            color: darken($red, 15%);
        }
        &:hover {
            background: darken($red, 5%);
            border: 2px solid darken($red, 5%);
            color: darken($red, 25%);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
            cursor: pointer;
            i {
                color: darken($red, 25%);
                -webkit-transition: all 0.7s ease;
                transition: all 0.7s ease;
            }
        }
    }
}

.form-group {
  width: 50%;
  margin: 10px;
  font: 18px / 22px $font;

    .form-control {
      display: inline-block;
            width: 100%;
            background: transparentize($blue2, 1);
            border: 0;
            border-bottom: 3px solid $blue2;
            font: 18px / 22px $font;
            color: $blue2;

        &:focus {
            outline: 0;
        }
        #profile-name {
            margin: 0 0 20px 20px;
            color: $white;
            i {
                color: $blue2;
            }
        }
    }
}

#edit {
  background: lighten($black, 20%);

  li {
    background: lighten($black, 20%);
    i {
      position: relative;
      top: 0;
      left: 0;

    }
  }
  i {
    color: darken($blue2, 10%);
    text-align: center;
    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}
