#menu {
    z-index: 999;
    font: 24px / 36px $menu;
    color: #fff;
    letter-spacing: 1px;
    a {
        color: $white;
        text-decoration: none;
    }
    #tab1 {
        z-index: 999;
        width: 70px;
        // height: 50px;
        position: fixed;
        top: 60%;
        right: 0;
        background: $lightred;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 15px 0;
        text-align: center;
        i {
            color: $white;
        }
        &:hover {
            background: lighten($lightred, 10%);
            transition: all 0.7s ease-out;
            cursor: pointer;
        }
    }
    #tab2 {
        z-index: 999;
        width: 70px;
        // height: 50px;
        position: fixed;
        top: 72%;
        right: 0;
        background: $darkblue;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 15px 0;
        text-align: center;
        i {
            color: $white;
        }
        &:hover {
            background: lighten($darkblue, 10%);
            transition: all 0.7s ease-out;
            cursor: pointer;
        }
    }
    #tab3 {
        z-index: 999;
        width: 80px;
        // height: 50px;
        position: fixed;
        top: 74%;
        right: 0;
        background: darken($teal, 10%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 15px 0;
        text-align: center;
        i {
            color: $white;
        }
        &:hover {
            background: lighten($teal, 10%);
            transition: all 0.7s ease-out;
            cursor: pointer;
        }
    }
    #tab4 {
        z-index: 999;
        width: 90px;
        position: fixed;
        top: 86%;
        right: 0;
        background: darken($white, 5%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 15px 0;
        text-align: center;
        i {
            color: $white;
        }
    }
    // All info inside the tabs
    #tab-menu {
        z-index: 999;
        width: 70%;
        // height: 50px;
        position: fixed;
        top: 120px;
        // right: 0;
        background: darken($lightred, 10%);
        border-radius: 5px;
        margin: 5%;
        padding: 15px 0;
        text-align: center;
        i {
            padding-left: 10px;
        }
        a:hover {
            color: $lightred;
            transition: all 0.3s ease-out;
        }
    }
    // Search bar
    #tab-search {
        z-index: 999;
        width: 70%;
        // height: 50px;
        position: fixed;
        top: 120px;
        // right: 0;
        background: darken($darkblue, 10%);
        border-radius: 5px;
        margin: 5%;
        padding: 15px 0;
        text-align: center;
        input {
            width: 50%;
            border: 2px solid darken($darkblue, 10%);
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 5px;
            font: 18px / 16px $menu;
            &:focus {
                outline: 0;
            }
        }
        ul {
            li {
                margin: 5px 0;
                h1 {
                    padding: 0;
                    color: $teal;
                }
                p {
                    padding: 0 0 10px;
                    color: $white;
                    border-bottom: 2px solid $teal;
                }
                &:hover {
                    h1 {
                        color: lighten($darkblue, 10%);
                    }
                }
            }
        }
    }
    #tab-gift {
        z-index: 999;
        width: 70%;
        // height: 50px;
        position: fixed;
        top: 120px;
        // right: 0;
        background: darken($teal, 10%);
        border-radius: 5px;
        margin: 5%;
        padding: 15px 0;
        color: $white;
        text-align: center;
        input {
            width: 50%;
            border: 2px solid darken($teal, 10%);
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 5px 0 5px 15px;
            font: 18px / 16px $menu;
            &:focus {
                outline: 0;
            }
        }
        .add-item {
            background: darken($teal, 10%);
            border: none;
            padding: 10x;
            font-size: 20px;
            color: $white;
            &:hover {
                color: darken($teal, 20%);
                transition: all 0.5s ease-out;
                cursor: pointer;
            }
            &:focus {
                outline: 0;
            }
        }
        li input[type="checkbox"] {
            width: 20px;
        }
        .done-true {
            text-decoration: line-through;
            color: darken($teal, 30%);
            transition: all 0.2s ease;
        }
        .clear-items {
            background: darken($teal, 10%);
            border: none;
            padding: 10x;
            font: 18px / 16px $menu;
            color: darken($teal, 30%);
            &:hover {
                color: darken($lightred, 10%);
                transition: all 0.5s ease-out;
                cursor: pointer;
            }
            &:focus {
                outline: 0;
            }
        }
        a:hover {
            color: lighten($teal, 20%);
            transition: all 0.3s ease-out;
        }
    }
}
