// Add media queries
// Profile screen
#container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    #profile-main-container {
        // height: 20%;
        margin: 0 auto;
        .content {
            width: 90%;
            margin: 0 auto;
            padding: 10px;
            p {
                padding: 10px 0;
                color: $pink;
            }
            i {
                color: $red;
            }
            .profile-holidays {
                display: inline-block;
            }
            .profile-colors {
                display: inline-block;
            }
            .profile-interests {
                display: inline-block;
                text-align: left;
            }
        }
        .content-main {
            position: relative;
            top: -60px;
            left: 0;
            margin-left: 5%;
            .user-photo {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 10%;
                right: 10%;
                // margin-bottom: 20px;
                overflow-y: hidden;
                background: screen($blue2, 20%);
                background-image: url('../photo.jpg');
                background-position: center;
                background-blend-mode: overlay;
                border-radius: 120px;
            }

            h2 {
                color: $black;
                font: 700 18px / 30px $font;
                text-align: left;
            }
            span {
                font: 18px / 22px $font;
                color: $black;
            }
        }
        .content-details {
            position: relative;
            top: -50px;
            left: 0;
            margin-left: 5%;
            h1 {
                color: $red;
                margin-bottom: 20px;
                color: $black;
            }
            h2 {
                color: $black;
                font: 700 18px / 20px $font;
                text-align: left;
            }
            span {
                display: inline-block;
                font: 18px / 20px $font;
                color: $black;
            }
        }
        .wishlists {
          padding: 15px 5%;
          font: 700 24px / 26px $font;
          color: $red;
        }
        .add-list {
          float: right;
          padding: 15px 5%;
          font: 700 18px / 22px $font;
          color: darken($blue2, 20%);

          i {
            padding-left: 10px;
          }
          &:hover {
            color: darken($blue2, 10%);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        }
        .lists {
          width: 100%;
          height: auto;
          margin: 0 0 30px; //changes the distance between lists
          background: $blue2;
          // border: 2px solid red;
          .list-header {
            border-bottom: 2px solid $white;
          }
            .list-name {
                padding: 15px 5%;
                font: 700 18px / 22px $font;
                color: $white;
            }


            //
            // ul {
            //     // margin-top: 10px;
            //     li {
            //         width: 40%;
            //         margin-top: 10px;
            //         padding: 0 20px;
            //         background: $blue2;
            //         border: 2px solid $blue2;
            //         border-radius: 5px;
            //         letter-spacing: 1px;
            //         overflow: hidden;
            //         h1 {
            //             font: 700 24px / 10px $font;
            //             color: $white;
            //         }
            //         p {
            //             margin-left: 20px;
            //             font: 18px / 12px $font;
            //             color: darken($blue2, 10%)
            //         }
            //         a {
            //             margin-left: 20px;
            //             font: 18px / 12px $font;
            //             color: $white;
            //         }
            //         &:hover {
            //           background: lighten($blue2, 5%);
            //           border: 2px solid lighten($blue2, 5%);
            //           color: darken($blue2, 15%);
            //           -webkit-transition: all 0.5s ease;
            //           transition: all 0.5s ease;
            //           cursor: pointer;
            //         }
            //     }



            ul {
                width: 90%;
                margin: 10px 5%;
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: scroll;
                // border: 2px solid red;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    overflow: hidden;
                    width: 250px;
                    height: 65px;
                    margin: 10px;
                    padding-top: 10px;
                    background: $blue2;
                    border: 2px solid $blue2;
                    text-align: center;
                    border-radius: 5px;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        cursor: pointer;
                        background: lighten($blue2, 5%);
                        border: 2px solid lighten($blue2, 5%);
                        color: darken($blue2, 15%);
                    }
                    h1 {
                      font-weight: bold;
                      color: $white;
                    }
                    h2 {
                      font-weight: bold;
                      color: darken($blue2, 10%);
                    }
                    .fa-heart {
                        color: darken($blue2, 20%);
                    }
                    .fa-plus {
                        // padding-top: 14%;
                        color: darken($blue2, 20%);
                    }
                }
            }
        }
    }
}
