<!-- Non-Friend Profile View -->
<div id="container">
    <div id="profile-main-container">

      <header>
        <section class="friend-photo">
        </section>

        <h1 class="friend-name"> {{loadedprofile.user.first_name}} {{loadedprofile.user.last_name}}Nastassia Troyer</h1>

        <div id="menu" ng-controller="TabController">
            <div ng-click="setTab(3)" id="tab2" ng-class="{ active: isSet(2) }"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>

            <div ng-click="setTab(4)" id="tab3" ng-class="{ active: isSet(3) }"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>



            <div ng-click="setTab(1)" id="tab4" ng-class="{ active: isSet(1) }"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>


            <div ng-show="isSet(1)">
            </div>


            <div ng-show="isSet(3)" id="tab-menu" class="animated bounceInRight">
                <ul>
                    <li><a href="#/home"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                    <li><a href="#/friends"><i class="fa fa-user-plus" aria-hidden="true"></i> Friends</a></li>
                    <li ng-click = "lo"><a href="#/login"><i class="fa fa-arrow-right" aria-hidden="true"></i> Logout</a></li>
                    <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Invite</a></li>
                </ul>
            </div>

            <div ng-show="isSet(4)" id="tab-search" class="animated bounceInRight">
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                <input type="search" ng-model="searchBox" placeholder="search users">

                <div id="friend-search" ng-if="searchBox">
                    <ul>
                        <li ng-repeat="person in friendList | filter: searchBox">
                            <a href="#/friend-profile">
                                <h1><i class="fa fa-user" aria-hidden="true"></i> {{person.first_name}} {{person.last_name}}</h1>
                                <p class="uppercase">@{{person.username}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </header>


        <section class="content content-add-friend">
            <button ng-click="showme=true" ng-hide="showme" class="friend-button" type="submit" name="button"><i class="fa fa-user-plus fa-4x" aria-hidden="true"></i></button>

            <button ng-click="showme=false" ng-show="showme" class="pending-friend-button" type="submit" name="button">Pending</button>
        </section>

        <section class="content content-details-remove">
            <span ng-hide="showme">Add user to your friends to view their profile!</span>

            <span ng-show="showme">Friend request sent!</span>

        </section>
    </div>
</div>
