<!-- Non-Friend Profile View -->
<div id="container">
    <div id="profile-main-container">

        <header>
 
          <nav ng-show="showmenu">
            <a href="#/friends" class="animated bounceInLeft"><i class="fa fa-user-plus" aria-hidden="true"></i> Friends</a>
            <a href="#/login"><i class="fa fa-arrow-right" aria-hidden="true"></i> Logout</a>
          </nav>

            <section class="friend-photo">
            </section>

            <i class="fa fa-align-left fa-2x" aria-hidden="true" ng-click="showmenu=true"></i>

            <a href="#/login"><h1 class="logo">Gentoo</h1></a>
            <h1 class="friend-name"> {{loadedprofile.user.first_name}} {{loadedprofile.user.last_name}}Nastassia Troyer</h1>

        </header>


        <section class="content content-add-friend">
            <button ng-click="showme=true" ng-hide="showme" class="friend-button" type="submit" name="button"><i class="fa fa-user-plus fa-4x" aria-hidden="true"></i></button>

            <button ng-click="showme=false" ng-show="showme" class="pending-friend-button" type="submit" name="button">Pending</button>
        </section>

        <section class="content content-details-remove">
            <span ng-hide="showme">Add user to your friends to view their profile!</span>

            <span ng-show="showme">Friend request sent!</span>

        </section>
    </div>
</div>
