<!-- Non-Friend Profile View -->
<div id="container">
    <div id="profile-main-container">

        <h1 class="logo">Gentoo</h1>

        <section class="friend-photo">
        </section>

        <section class="content content-add-friend">
            <h1>Nastassia Troyer</h1>
            <button class="friend-button" type="submit" name="button"><i class="fa fa-plus fa-4x" aria-hidden="true"></i></button>
        </section>

        <section class="content content-details-remove">
            <span>Add user to your friends to view their profile!</span>
        </section>
    </div>
</div>
