 <!-- Profile View -->
<div id="container">
    <div id="profile-main-container" ng-controller="LoadFriendController">

        <header>
            <section class="photo">
            </section>            <h1 class="profile-name animated slideInLeft"><i class="fa fa-user" aria-hidden="true"></i>
           {{loadedfriend.user.first_name}} {{loadedfriend.user.last_name}}</h1>

            <a href="#/profile-edit"><h1 class="edit-profile">UNFRIEND</h1></a>

            <div class="nav">
                <h1 class="logo">Gentoo</h1>
            </div>

            <div id="menu" ng-controller="TabController">
                <div ng-click="setTab(2); FindTodos(loadedfriend.user.username)" id="tab1" ng-class="{ active: isSet(4) }"><i class="fa fa-gift fa-lg animated slideInRight" aria-hidden="true"></i></div>

                <div ng-click="setTab(3)" id="tab2" ng-class="{ active: isSet(2) }"><i class="fa fa-bars fa-lg animated slideInRight" aria-hidden="true"></i></div>

                <div ng-click="setTab(4)" id="tab3" ng-class="{ active: isSet(3) }"><i class="fa fa-search fa-lg animated slideInRight" aria-hidden="true"></i></div>


                <div ng-click="setTab(1)" id="tab4" ng-class="{ active: isSet(1) }"><i class="fa fa-times fa-lg animated slideInRight" aria-hidden="true"></i></div>

                <div ng-show="isSet(1)">
                </div>

                <div ng-show="isSet(2)" id="tab-gift" class="animated bounceInRight" >
                    <ul>
                        <li>
                            <input id="ideaboxText" type="text" placeholder="add gift idea here" ng-model="formTodoText" ng-model-instant />
                            <button ng-click="addTodo()" class="add-item"><i ng-click="AddIdea()" class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                        </li>

                        <li ng-repeat="todo in todos">
                            <input type="checkbox" id={{todo.id}} ng-click="viewIdea()"> ng-model="todo.done" />
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                        </li>

                        <li>
                            <button ng-click="clearCompleted()" class="clear-items">clear selected items</button>
                        </li>
                    </ul>
                </div>

                <div ng-show="isSet(3)" id="tab-menu" class="animated bounceInRight" ng-controller="LoginCtrl">
                 <ul>
                     <ling-click="findFriend(person.username)"><a href="#/add-friend"><i class="fa fa-user-times" aria-hidden="true"></i> Unfriend</a></li>
                     <li><a href="#/home"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                     <li><a href="#/friends"><i class="fa fa-user-plus" aria-hidden="true"></i> Friends</a></li>
                     <li ng-click="logout()"><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></a></i> Logout</li>
                     <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Invite</a></li>
                 </ul>
             </div>

                <div ng-show="isSet(4)" id="tab-search" class="animated bounceInRight">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    <input type="search" ng-model="searchBox" placeholder="search users">

                    <div id="friend-search" ng-if="searchBox">
                        <ul>
                            <li ng-repeat="person in friendList | filter: searchBox">
                                <a href="#/friend-profile">
                                    <h1><i class="fa fa-user" aria-hidden="true"></i> {{person.first_name}} {{person.last_name}}</h1>
                                    <p class="uppercase">@{{person.username}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="info dates animated slideInLeft">
            <h1 class="info-header"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Birthday:</h1>
            <ul class="info-answer">
                <li>{{loadedfriend.user.birthday.dob_month}}/{{loadedfriend.user.birthday.dob_day}}/{{loadedfriend.user.birthday.dob_year}}</li>
            </ul>
            <!-- 			<button type="submit" ng-click="setTab(1)">edit birthday</button> -->
        </div>

        <div class="info favorites animated slideInRight">
            <h1 class="info-header"><i class="fa fa-calendar" aria-hidden="true"></i> Favorites:</h1>
            <ul class="info-answer">
                <li ng-repeat="favorite in friendfavoriteList">
                    <input type="checkbox" id="f1" name="cc" />
                    <label for="f1">{{favorite.name}}</label>
                </li>
            </ul>
            <!-- 		<button type="submit" ng-click="setTab(4)">edit favorites</button> -->
        </div>

        <div class="info holidays animated slideInRight">
            <h1 class="info-header"><i class="fa fa-calendar" aria-hidden="true"></i> Holidays:</h1>
            <ul class="info-answer">
                <li ng-repeat="holiday in friendholidayList">
                    <input type="checkbox" id="h1" name="cc" />
                    <label for="h1">{{holiday.name}}</label>
                </li>
            </ul>
            <!-- 	<button type="submit" ng-click="setTab(2)">edit interests</button> -->
        </div>

        <div class="info interests animated slideInLeft">
            <h1 class="info-header"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Interests:</h1>
            <ul class="info-answer">
                <li ng-repeat="interest in friendinterestList">
                    <input type="checkbox" id="i1" name="cc" />
                    <label for="i1">{{interest.name}}</label>
                </li>
            </ul>
            <!--   	<button type="submit" ng-click="setTab(3)">edit interests</button> -->
        </div>


                                <div ng-controller="TabController2">
                                    <div ng-show="isSet(3)" id="tab-wishlist-details">
                                        <h1 class="header"> </h1>
                                        <!--make this changeable-->
                                        <form>
                                            <ul>
                                              <li>
                                                  <h1><span class="item-header">ItemName:</span>{{clickedItem.name}}</h1></li>
                                              <li>
                                                <li>
                                                    <h1><span class="item-header">Description:</span>{{clickedItem.description}}</h1></li>
                                                <li>
                                                    <h1><span class="item-header">URL:</span> {{clickedItem.product_url}}</h1></li>
                                                <li>
                                                    <h1><span class="item-header">Interests:</span>{{clickedItem.product_url}}</h1></li>
                                            </ul>

                                            <p>
                                                <button type="submit" ng-click=""><i class="fa fa-times" aria-hidden="true"></i></button>
                                            </p>
                                    </div>


           <h1 class="wishlists" ng-click="setTab(1)">Wishlists</h1>
                <section class="lists" ng-class-odd="'lightblue'" ng-class-even="'darkblue'" ng-repeat="list in friendwishlistArray">
                    <h1 class="list-name">{{list.name}}</h1>
                    <ul>
                        <li ng-repeat="item in list.items" ng-click="setTab(3); getItem(item)" ng-class="{ active: isSet(3) }">
                            <!-- <li ng-repeat="item in list.items" ng-click="setTab(3)" ng-class="{ active: isSet(3) }"> -->
                            <h1 class="info-answer">{{item.name}}</h1>
                            <h2>click to view details</h2>
                        </li>
                    </ul>
                </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <section class="lists friend-list">
            <a href="#/friends"><h1 class="friends-list">Friends</h1></a>
            <ul>
                <li>
                    <a href="#/add-friend">-->
<!-- <h2>user photo here</h2> -->
<!-- <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <h1>{{loadedfriend.user.first_name}}</h1>
                        <h1>{{loadedfriend.user.last_name}}</h1>
                    </a>
                </li>
                <li>
                    <a href="#/add-friend"> -->
<!-- <h2>user photo here</h2> -->
<!-- <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <h1>{{loadedfriend.user.first_name}}</h1>
                        <h1>{{loadedfriend.user.last_name}}</h1>
                    </a>
                </li>
                <li>
                    <a href="#/add-friend"> -->
<!-- <h2>user photo here</h2> -->
<!-- <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <h1>{{loadedfriend.user.first_name}}</h1>
                        <h1>{{loadedfriend.user.last_name}}</h1>
                    </a>
                </li>
            </ul>
        </section> -->

<!-- <section class="lists content-list-new">
            <h1><i class="fa fa-plus" aria-hidden="true"></i> Add new list</h1> -->
