<!-- Profile View -->
<div id="container">
    <div id="profile-main-container" ng-controller="LoadFriendController">

        <header>
            <section class="photo">
            </section>

            <h1 class="profile-name"><i class="fa fa-user" aria-hidden="true"></i>
         {{loadedprofile.user.first_name}} {{loadedprofile.user.last_name}}</h1>

            <a href="#/add-friend"><h1 class="unfriend">Unfriend</h1></a>


            <div id="menu" ng-controller="TabController">
                <div ng-click="setTab(2)" id="tab1" ng-class="{ active: isSet(4) }"><i class="fa fa-gift fa-lg" aria-hidden="true"></i></div>

                <div ng-click="setTab(3)" id="tab2" ng-class="{ active: isSet(2) }"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>

                <div ng-click="setTab(4)" id="tab3" ng-class="{ active: isSet(3) }"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>



                <div ng-click="setTab(1)" id="tab4" ng-class="{ active: isSet(1) }"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>


                <div ng-show="isSet(1)">
                </div>

                <div ng-show="isSet(2)" id="tab-gift" class="animated bounceInRight">
                    <ul>
                        <li>
                            <input type="text" placeholder="add gift idea here" ng-model="formTodoText" ng-model-instant />
                            <button ng-click="addTodo()" class="add-item"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                        </li>

                        <li ng-repeat="todo in todos">
                            <input type="checkbox" ng-model="todo.done" />
                            <span class="done-{{todo.done}}">{{todo.text}}</span>
                        </li>

                        <li>
                            <button ng-click="clearCompleted()" class="clear-items">clear selected items</button>
                        </li>
                    </ul>
                </div>

                <div ng-show="isSet(3)" id="tab-menu" class="animated bounceInRight">
                    <ul>
                        <li><a href="#/home"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                        <li><a href="#/friends"><i class="fa fa-user-plus" aria-hidden="true"></i> Friends</a></li>
                        <li><a href="#/login"><i class="fa fa-arrow-right" aria-hidden="true"></i> Logout</a></li>
                        <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Invite</a></li>
                    </ul>
                </div>

                <div ng-show="isSet(4)" id="tab-search" class="animated bounceInRight">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                    <input type="search" ng-model="searchBox" placeholder="search users">

                    <div id="friend-search" ng-if="searchBox">
                        <ul>
                            <li ng-repeat="person in friendList | filter: searchBox">
                                <a href="#/friend-profile">
                                    <h1><i class="fa fa-user" aria-hidden="true"></i> {{person.first_name}} {{person.last_name}}</h1>
                                    <p class="uppercase">@{{person.username}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </header>

        <section class="content content-main">

            <h2 class="profile-birthday"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{loadedprofile.user.birthday.dob_month}}/{{loadedprofile.user.birthday.dob_day}}/{{loadedprofile.user.birthday.dob_year}}</h2>
            <h2 class="profile-anniv-dates"><i class="fa fa-calendar" aria-hidden="true"></i> 05/25/1945</h2>
        </section>

        <section class="content content-details">
            <span>Favorite Holidays</span>
            <h2 class="profile-holidays">{{loadedprofile.user.holidays[0]}}, {{loadedprofile.user.holidays[1]}}, {{loadedprofile.user.holidays[2]}}</h2>
        </section>

        <section class="content content-details">
            <span>Interests</span>
            <h2 class="profile-interests">{{loadedprofile.user.holidays[0]}}, {{loadedprofile.user.holidays[1]}}, {{loadedprofile.user.holidays[2]}}, {{loadedprofile.user.holidays[3]}}, {{loadedprofile.user.holidays[4]}}</h2>
        </section>

        <section class="content content-details">
            <span>Favorite Colors</span>
            <h2 class="profile-colors">{{loadedprofile.user.colors[0]}}</h2>
        </section>

        <!-- <form name="saveProfileData" action="#" ng-controller="FormCtrl" ng-submit="submitForm()">
        Username    <br/><input type="text" ng-model="form.username">    <br/><br/>
        Password: <br/><input type="text" ng-model="form.password"> <br/><br/>

          <!-<button ng-click="save()" >Save</button> -->
        <!-- <input type="submit" ngClick="Submit" >

        </form> -->

        <h1 class="wishlists">Wishlists</h1>

        <h1 class="add-list">add new wishlist <i class="fa fa-plus fa-lg" aria-hidden="true"></i></h1>

        <section class="lists content-list" ng-repeat="list in wishlistArray">
            <div class="list-header">
                <h1 class="list-name">{{list.name}}</h1>
            </div>
            <ul>
                <li ng-repeat="item in list.items">
                    <h1>{{item.name}}</h1>
                    <h2>for: {{loadedprofile.user.holidays[0]}}</h2>
                </li>
                <li>
                    <a href="#/list-item"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></a>

                </li>
            </ul>
        </section>



        </section>
    </div>
