<!-- Profile View -->
<div id="container">
    <div id="profile-main-container" ng-controller="LoginCtrl">

        <header>

          <nav ng-show="showmenu">
            <a href="#/friends" class="animated bounceInLeft"><i class="fa fa-user-plus" aria-hidden="true"></i> Friends</a>
            <a href="#/login"><i class="fa fa-arrow-right" aria-hidden="true"></i> Logout</a>
          </nav>

            <section class="photo">
            </section>

            <i id="home-menu-icon" class="fa fa-align-left fa-2x" aria-hidden="true" ng-click="showmenu=true"></i>
            <!-- <i class="fa fa-align-right fa-2x" aria-hidden="true"></i> -->

            <a href="#/login"><h1 class="profile-logo">Gentoo</h1></a>

            <h1 class="profile-name"><i class="fa fa-user" aria-hidden="true"></i>
           {{loadedprofile.user.first_name}} {{loadedprofile.user.last_name}}</h1>

            <a href="#/profile-edit"><h1 class="edit-profile">Edit Profile</h1></a>
        </header>


        <section class="user-photo">
        </section>

        <section class="content content-main">

            <h2 class="profile-birthday"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{loadedprofile.user.birthday.dob_month}}/{{loadedprofile.user.birthday.dob_day}}/{{loadedprofile.user.birthday.dob_year}}</h2>
            <h2 class="profile-anniv-dates"><i class="fa fa-calendar" aria-hidden="true"></i> 05/25/1945</h2>
        </section>

        <section class="content content-details">
            <span>Favorite Holidays</span>
            <h2 class="profile-holidays">{{loadedprofile.user.holidays[0]}}, {{loadedprofile.user.holidays[1]}}, {{loadedprofile.user.holidays[2]}}</h2>
        </section>

        <section class="content content-details">
            <span>Interests</span>
            <h2 class="profile-interests">{{loadedprofile.user.holidays[0]}}, {{loadedprofile.user.holidays[1]}}, {{loadedprofile.user.holidays[2]}}, {{loadedprofile.user.holidays[3]}}, {{loadedprofile.user.holidays[4]}}</h2>
        </section>

        <section class="content content-details">
            <span>Favorite Colors</span>
            <h2 class="profile-colors">{{loadedprofile.user.colors[0]}}</h2>
        </section>

        <!-- <form name="saveProfileData" action="#" ng-controller="FormCtrl" ng-submit="submitForm()">
        Username    <br/><input type="text" ng-model="form.username">    <br/><br/>
        Password: <br/><input type="text" ng-model="form.password"> <br/><br/>

          <!-<button ng-click="save()" >Save</button> -->
        <!-- <input type="submit" ngClick="Submit" >

        </form> -->


        <section class="lists content-list" ng-repeat="list in wishlistArray">
            <h1 class="list-name" >{{list.name}} <i class="fa fa-plus add-list" aria-hidden="true"></i></h1>
            <ul>
                <li ng-repeat= "item in list.items">
                    <h1>{{item.name}}</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
            </ul>
        </section>
        <!-- <section class="lists content-list-new">
            <h1><i class="fa fa-plus" aria-hidden="true"></i> Add new list</h1> -->

    </div>
