<!-- Profile View -->
<div id="container">
    <div id="profile-main-container">

      <!-- opens notification menu, drops from top -->
        <i class="fa fa-align-left fa-2x" aria-hidden="true"></i>
        <!-- <i class="fa fa-align-right fa-2x" aria-hidden="true"></i> -->

        <h1 class="logo">Gentoo</h1>
        <!-- <span class="logout-button">Logout</span>
        put logout in menu! -->


        <section class="photo">
        </section>

        <section class="user-photo">
        </section>



        <section class="content content-main">
            <h1 class="profile-name clip-text-maybe"><i class="fa fa-user" aria-hidden="true"></i> Nastassia Troyer</h1>
            <h1 class="edit-profile">Edit Profile</h1>

            <h2 class="profile-birthday"><i class="fa fa-birthday-cake" aria-hidden="true"></i> 06/26/1991</h2>
            <h2 class="profile-anniv-dates"><i class="fa fa-calendar" aria-hidden="true"></i> 05/25/1945</h2>
            <h2 class="profile-holidays"><i class="fa fa-heart" aria-hidden="true"></i> Christmas</h2>
        </section>

        <section class="content content-details">
            <span>Interests</span>
            <h2 class="profile-interests">sports, ballet, drawing, reading</h2>
        </section>

        <section class="content content-details">
            <span>Favorite Colors</span>
            <h2 class="profile-colors">orange</h2>
        </section>

        <section class="lists content-list">
            <h1>Wishlist for Christmas <i class="fa fa-plus add-list" aria-hidden="true"></i></h1>
            <ul>
                <li><h1>Purple Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Blue Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Red Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Green Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Orange Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li>
                  <i class="fa fa-plus fa-3x" aria-hidden="true"></i>

                </li>
            </ul>
        </section>

        <section class="lists content-list">
            <h1>Wishlist for Christmas <i class="fa fa-plus add-list" aria-hidden="true"></i></h1>
            <ul>
                <li><h1>Purple Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Blue Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Red Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Green Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li><h1>Orange Socks</h1>
                    <h2><i class="fa fa-heart" aria-hidden="true"></i> Birthday</h2>
                </li>
                <li>
                  <i class="fa fa-plus fa-3x" aria-hidden="true"></i>

                </li>
            </ul>
        </section>

        <!-- <section class="lists content-list-new">
            <h1><i class="fa fa-plus" aria-hidden="true"></i> Add new list</h1> -->
        </section>
    </div>
