<!-- List Item View -->
<!-- <div id="container">
    <div id="profile-main-container" ng-controller="LoginCtrl">

      <header>
          <section class="photo">
          </section>


          <h1 class="profile-name"><i class="fa fa-user" aria-hidden="true"></i> <span>Add new item to</span> list</h1>

          <a href="#/home"><h1 class="save-profile" ng-click="vm.submit(vm.user)">Save item <i class="fa fa-chevron-right" aria-hidden="true"></i></h1></a>


          <div id="menu" ng-controller="TabController">
              <div ng-click="setTab(3)" id="tab2" ng-class="{ active: isSet(2) }"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></div>

              <div ng-click="setTab(4)" id="tab3" ng-class="{ active: isSet(3) }"><i class="fa fa-search fa-lg" aria-hidden="true"></i></div>



              <div ng-click="setTab(1)" id="tab4" ng-class="{ active: isSet(1) }"><i class="fa fa-times fa-lg" aria-hidden="true"></i></div>


              <div ng-show="isSet(1)">
              </div>


              <div ng-show="isSet(3)" id="tab-menu" class="animated bounceInRight">
                  <ul>
                      <li><a href="#/home"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                      <li><a href="#/friends"><i class="fa fa-user-plus" aria-hidden="true"></i> Friends</a></li>
                      <li><a href="#/login"><i class="fa fa-arrow-right" aria-hidden="true"></i> Logout</a></li>
                      <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Invite</a></li>
                  </ul>
              </div>

              <div ng-show="isSet(4)" id="tab-search" class="animated bounceInRight">
                  <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                  <input type="search" ng-model="searchBox" placeholder="search users">

                  <div id="friend-search" ng-if="searchBox">
                      <ul>
                          <li ng-repeat="person in friendList | filter: searchBox">
                              <a href="#/friend-profile">
                                  <h1><i class="fa fa-user" aria-hidden="true"></i> {{person.first_name}} {{person.last_name}}</h1>
                                  <p class="uppercase">@{{person.username}}</p>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </header>


        <section class="content content-main">
          <form>
              <div class="form-group">
                  <label for="profile-first-name"></label>
                  <input type="text" class="form-control" id="profile-first-name" placeholder="Item name"
                  ng-model="vm.user.first_name">
              </div>
              <div class="form-group">
                  <label for="profile-last-name"></label>
                  <input type="text" class="form-control" id="profile-last-name" placeholder="Holiday" ng-model="vm.user.last_name">
              </div>
          </form>
        </section>

        <section class="section-save-button">
            <a href="#/home"><button class="profile-submit-button" type="submit" name="button">Save item to list <i class="fa fa-chevron-right" aria-hidden="true"></i></button></a>
        </section>
    </div> -->




    <!-- /////////// -->
<!--
    <span class="input input--photo">
                <input class="input__field input__field--photo" type="file" id="input-3" />
                <label class="input__label input__label--photo input__label--photo-color-4" for="input-3">
                  <span class="input__label-content input__label-content--photo">Upload Photo</span>
    </label>
    </span>
    <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-4" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                  <span class="input__label-content input__label-content--hoshi">First Name</span>
    </label>
    </span>
    <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-5" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
                  <span class="input__label-content input__label-content--hoshi">Last Name</span>
    </label>
    </span> -->

    <!-- // add date picker -->
    <!-- <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-6" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-6">
                  <span class="input__label-content input__label-content--hoshi">Birthdate</span>
    </label>
    </span> -->

    <!-- // add date picker -->
    <!-- <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-7" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-7">
                  <span class="input__label-content input__label-content--hoshi">Anniversaries/Important Dates (up to 3)</span>
    </label>
    </span> -->

    <!-- // add natural language form options -->
    <!-- <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-8" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-8">
                  <span class="input__label-content input__label-content--hoshi">Important Holidays (up to 3)</span>
    </label>
    </span>
    <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-9" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-9">
                  <span class="input__label-content input__label-content--hoshi">Interests</span>
    </label>
    </span>
    <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-9" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-9">
                  <span class="input__label-content input__label-content--hoshi">Favorite Colors</span>
    </label>
    </span> -->
    <!-- <a href="#/home"> -->

    <!-- </a> -->
    <!-- </section> -->


    <!--
</div>
</div> -->
