<!-- Login Screen -->
    <div id="container1">
        <div id="login-container">

            <a href="#/home"><h1 class="logo">Gentoo</h1></a>
            <h2>Hello!</h2>
            <!-- <p>
                Gentoo, the gift matchmaker.
            </p> -->

            <form ng-controller="LoginCtrl" ng-submit="submitForm()">
              <section class="content">
                        <span class="input input--hoshi">
              					<input name="login_username" class="input__field input__field--hoshi userlogin" type="text" id="input-1" / ng-model="form.username">
              					<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-1">
              						<span class="input__label-content input__label-content--hoshi">Username</span>
                        </label>
                        </span>
                        <span class="input input--hoshi">
              					<input class="input__field input__field--hoshi" type="password" id="input-2" / ng-model="form.password">
              					<label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-2">
              						<span class="input__label-content input__label-content--hoshi userLogin">Password</span>
                        </label>
                        </span>
                    <button class="login-button" type="submit" name="button">go! <i class="fa fa-chevron-right" aria-hidden="true"></i></button></a>

                    <a href="#/sign-up">
                    <p>New user?</p>
                    <button class="signup-button" type="submit" name="button">sign up <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </a>
                  </section>
        </form>
        </div>
    </div>
