<!-- Edit Profile -->
<div id="container">
    <div id="profile-container">
        <section class="content">
            <h1>Edit Profile</h1>
            <span class="input input--kaede">
          <input class="input__field input__field--kaede" type="file" id="input-3" />
          <label class="input__label input__label--kaede" for="input-3">
            <span class="input__label-content input__label-content--kaede">Upload Photo</span>
            </label>
            </span>
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-4" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                  <span class="input__label-content input__label-content--hoshi">First Name</span>
            </label>
            </span>
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-5" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
                  <span class="input__label-content input__label-content--hoshi">Last Name</span>
            </label>
            </span>

            <!-- // add date picker -->
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-6" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-6">
                  <span class="input__label-content input__label-content--hoshi">Birthdate</span>
            </label>
            </span> -->

            <!-- // add date picker -->
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-7" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-7">
                  <span class="input__label-content input__label-content--hoshi">Anniversaries/Important Dates</span>
            </label>
            </span>

            <!-- // add natural language form options -->
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-8" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-8">
                  <span class="input__label-content input__label-content--hoshi">Important Holidays</span>
            </label>
            </span>
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-9" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-9">
                  <span class="input__label-content input__label-content--hoshi">Interests</span>
            </label>
            </span>
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-9" />
                <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-9">
                  <span class="input__label-content input__label-content--hoshi">Favorite Colors</span>
            </label>
            </span>
            <button class="profile-submit-button" type="submit" name="button">Save profile <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </section>
    </div>
</div>
