<!-- Non-Friend Profile View -->
<div id="container">
    <div id="profile-main-container">

      <header>
          <nav class="nav">
            <div class="btn-toolbar" toolbar-tip="{content: '#toolbar-options', position: 'bottom', style: 'primary', animation: 'flip'}" id="format-toolbar">
                <!-- <i class="fa fa-align-right fa-2x" aria-hidden="true"></i> -->
                <h1 class="logo">Gentoo</h1>
            </div>

            <div id="toolbar-options">
               <a href="#">profile <i class="fa fa-user" aria-hidden="true"></i></a>
               <a href="#">friends <i class="fa fa-user-plus" aria-hidden="true"></i></a>
               <a href="#">logout <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </nav>

            <section class="friend-photo">
            </section>

            <h1 class="friend-name"> {{loadedprofile.user.first_name}} {{loadedprofile.user.last_name}}Nastassia Troyer</h1>

        </header>


        <section class="content content-add-friend">
            <button ng-click="showme=true" ng-hide="showme" class="friend-button" type="submit" name="button"><i class="fa fa-user-plus fa-4x" aria-hidden="true"></i></button>

            <button ng-click="showme=false" ng-show="showme" class="pending-friend-button" type="submit" name="button">Pending</button>
        </section>

        <section class="content content-details-remove">
            <span ng-hide="showme">Add user to your friends to view their profile!</span>

            <span ng-show="showme">Friend request sent!</span>

        </section>
    </div>
</div>
