<!-- Friends View -->
<div id="container" ng-controller="LoginCtrl">

  <header>
    <section class="photo">
    </section>


    <h1 class="profile-name"><i class="fa fa-user" aria-hidden="true"></i> Friends</h1>


    <nav ng-show="showmenu">
        <a href="#/home" class="animated bounceInLeft"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
        <a href="#/login" class="animated bounceInLeft"><i class="fa fa-arrow-right" aria-hidden="true"></i> Logout</a>
        <i class="fa fa-search" aria-hidden="true"></i>
        <input class="searchBar animated
jello" type="search" ng-model="searchBox" placeholder="Search users">


        <div id="friend-search" ng-if="searchBox">
            <ul>
                <!--ng-repeat, and link to their profile-->
                <li ng-repeat="person in friendList | filter: searchBox">
                    <a href="#/friend-profile">
                        <h1><i class="fa fa-user" aria-hidden="true"></i> {{person.first_name}} {{person.last_name}}</h1>
                        <p class="uppercase">@{{person.username}}</p>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="nav">
        <i ng-click="showmenu=true" class="fa fa-align-right" aria-hidden="true"></i>

        <h1 class="logo">Gentoo</h1>
    </div>
  </header>

  <section id="friend-content">
      <h1><i class="fa fa-user-plus" aria-hidden="true"></i> Friend requests ( 2 ) </h1>

      <ul>
          <!--ng-repeat, and link to their profile-->
          <li class="friend-request">
              <h2>Nastassia Troyer has sent you a friend request!</h2>
              <button ng-click="showaccept=true" ng-hide="showdeny" ng-hide="showaccept" class="accept">accept <i class="fa fa-plus" aria-hidden="true"></i></button>
              <button ng-click="showdeny=true" ng-hide="showaccept" ng-hide="showdeny" class="deny">deny <i class="fa fa-times" aria-hidden="true"></i></button>

              <p ng-show="showaccept" class="pAccept">You and Nastassia Troyer are now friends!</p>
              <a href="#/friend-profile" ng-show="showaccept" class="pAccept" class="uppercase">View their profile</a>

              <p ng-show="showdeny" class="pDeny">You have denied a request from Nastassia Troyer.</p>
          </li>
          <li class="friend-request">
              <h2>Nastassia Troyer has sent you a friend request!</h2>
              <button ng-click="showaccept=true" ng-hide="showdeny" ng-hide="showaccept" class="accept">accept <i class="fa fa-plus" aria-hidden="true"></i></button>
              <button ng-click="showdeny=true" ng-hide="showaccept" ng-hide="showdeny" class="deny">deny <i class="fa fa-times" aria-hidden="true"></i></button>

              <p ng-show="showaccept" class="pAccept">You and Nastassia Troyer are now friends!</p>
              <a href="#/friend-profile" ng-show="showaccept" class="pAccept" class="uppercase">View their profile</a>

              <p ng-show="showdeny" class="pDeny">You have denied a request from Nastassia Troyer.</p>
          </li>
      </ul>
  </section>
<!-- Actual friend request section   -->
        <!-- <section id="friend-content">
            <h1><i class="fa fa-user-plus" aria-hidden="true"></i> Friend requests ( {{friendDetails.user.requested_count}} ) </h1>

            <ul> -->
                <!--ng-repeat, and link to their profile-->
              <!--  <li ng-repeat="friends in friendRequests">
                    <h2>{{friends.first_name}} has sent you a friend request!</h2>
                    <button ng-click="showaccept=true" ng-hide="showdeny" ng-hide="showaccept" class="accept">accept <i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button ng-click="showdeny=true" ng-hide="showaccept" ng-hide="showdeny" class="deny">deny <i class="fa fa-times" aria-hidden="true"></i></button>

                    <p ng-show="showaccept" class="pAccept">You and {{friends.first_name}} {{friends.last_name}} are now friends!</p>
                    <a href="#/friend-profile" ng-show="showaccept" class="pAccept" class="uppercase">View their profile</a>

                    <p ng-show="showdeny" class="pDeny">You have denied a request from {{friends.first_name}} {{friends.last_name}} .</p>
                </li>
            </ul>
        </section> -->


        <section id="friend-content">
            <h1><i class="fa fa-search" aria-hidden="true"></i> Search for friends</h1>

            <input class="searchBar" type="search" ng-model="searchBox" placeholder="Enter first/last name or username">
        </section>


        <section id="friend-content">
            <h1><i class="fa fa-user" aria-hidden="true"></i> All friends</h1>

            <ul>
                <!--ng-repeat, and link to their profile-->
                <li class="friends-list">
                    <a href="#/friend-profile">
                        <h1><i class="fa fa-user" aria-hidden="true"></i> Nastassia Troyer</h1>
                        <p class="uppercase">@Nastassia</p>
                    </a>
                </li>
                <li class="friends-list">
                    <a href="#/friend-profile">
                        <h1><i class="fa fa-user" aria-hidden="true"></i> Nastassia Troyer</h1>
                        <p class="uppercase">@Nastassia</p>
                    </a>
                </li>
                <li class="friends-list">
                    <a href="#/friend-profile">
                        <h1><i class="fa fa-user" aria-hidden="true"></i> Nastassia Troyer</h1>
                        <p class="uppercase">@Nastassia</p>
                    </a>
                </li>
            </ul>
        </section>
        <!-- Actual friends section -->
        <!-- <section id="friend-content">
            <h1><i class="fa fa-user" aria-hidden="true"></i> All friends</h1>

            <ul>-->
                <!--ng-repeat, and link to their profile-->
                <!--<li class="friends-list" ng-repeat="person in friendList | filter: searchBox">
                    <a href="#/friend-profile">
                        <h1><i class="fa fa-user" aria-hidden="true"></i> {{person.first_name}} {{person.last_name}}</h1>
                        <p class="uppercase">@{{person.username}}</p>
                    </a>
                </li>
            </ul>
        </section> -->

        <section id="friend-request-content">
        </section>
</div>
