header {
    .nav {
        width: 110px;
        height: 30px;
        position: absolute;
        top: 30px;
        right: 8%;
        z-index: 5;
        // display: inline-block;
        .logo {
            font: 50px / 50px $logo;
            color: $teal;
            -webkit-text-shadow: 2px 1px 0 darken($red, 20%);
            -moz-text-shadow: 2px 1px 0 darken($red, 20%);
            text-shadow: 2px 1px 0 darken($red, 20%);
        }
        .fa-align-right {
            position: relative;
            top: 40px;
            right: 20%;
            color: $white;
            opacity: 0.8;
            &:hover {
                opacity: 1;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
                cursor: pointer;
            }
        }
    }
    nav {  // menu that opens
        // display: none;
        width: 35%;
        height: 50px;
        position: absolute;
        top: 40px;
        left: 45%;
        margin: 0 auto;
        padding: 10px 0;
        z-index: 999;
        background: $blue2;
        border: 2px solid $blue2;
        border-radius: 4px;
        text-align: center;
        i {
            margin-left: 16px;
        }
        .fa-search {
            margin-left: 10px;
            color: #fff;
            font-size: 14px;
        }
        a {
            // padding-left: 20px;
            font: 700 14px / 12px $font;
            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:hover {
                color: darken($blue2, 10%);
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
        }
        input {
            width: 30%;
            margin-left: 5px;
            padding: 3px 8px;
            border: 2px solid $blue2;
            border-radius: 5px;
            font: 12px / 12px $font;
            &:focus {
                outline: 0;
            }
        }
        ul {
            margin-top: 40px;
            li {
                width: 50%;
                margin-left: 200px;
                margin-top: 10px;
                padding: 5px;
                background: $blue2;
                border: 2px solid $blue2;
                border-radius: 5px;
                letter-spacing: 1px;
                overflow: hidden;
                text-align: left;
                h1 {
                    font: 700 15px / 10px $font;
                    color: #fff;
                }
                p {
                    margin-left: 16px;
                    font: 700 12px / 12px $font;
                    color: darken($blue2, 10%);
                }
                a {
                    // margin-left: 20px;
                    font: 15px / 12px $font;
                    color: #fff;
                }
                &:hover {
                    background: lighten($blue2, 5%);
                    border: 2px solid lighten($blue2, 5%);
                    color: darken($blue2, 15%);
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    cursor: pointer;
                }
            }
        }
        // #format-toolbar {
        //         // margin-left: auto;
        //         // margin-right: auto;
        // }
        // #toolbar-options { display: none; }
    }
    .photo {
        width: 100%;
        height: 130px;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 20px;
        overflow-y: hidden;
        background: $red;
        background-image: url('../images/profile-1.jpg');
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
    }
    .profile-name {
        position: relative;
        top: -80px;
        left: 0;
        margin: 0 0 20px 5%;
        color: $white;
        i {
            color: $blue2;
        }
    }
    .edit-profile {
        position: relative;
        top: -105px;
        left: 0;
        margin: 5px 5%;
        font: 700 12px / 22px $font;
        color: $white;
        text-transform: uppercase;
        &:hover {
            color: $blue2;
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
    }
    .unfriend {
        position: relative;
        top: -105px;
        left: 0;
        margin: 5px 5%;
        font: 700 12px / 22px $font;
        color: $white;
        text-transform: uppercase;
        &:hover {
            color: $red;
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
    }
}
