@media(max-width:767px) {
    body {
        font: 20px / 24px $font;
    }
    .friend-photo {
        height: 300px;
    }
    #menu {
      #tab1 {
          bottom: 24%;
      }
      #tab2 {
          bottom: 15%;
      }
      #tab3 {
          bottom: 6%;
      }
      #tab4 {
          bottom: 0.5%;
      }
    }
    header {
        text-align: center;
        .nav {
            width: 150px;
            height: 40px;
            display: inline-block;
            .logo {
                position: relative;
                top: -10px;
                left: -10%;
                margin: 0 auto;
                font: 60px / 80px $logo;
                text-align: center;
            }
            // .logo {
            //   margin: 5%;
            // 	font: 60px / 70px $logo;
            //   color: $blue2;
            // 	text-align: center;
            //   -webkit-text-shadow: 2px 1px 0 darken($red, 20%);
            //   -moz-text-shadow: 2px 1px 0 darken($red, 20%);
            //   text-shadow: 2px 1px 0 darken($red, 20%);
            // }
        }
        nav {
            // menu that opens
            width: 70%;
            height: 300px;
            position: relative;
            top: -160px;
            left: 0;
            margin: 0 auto;
            padding: 20px;
            border: 2px solid $blue2;
            border-radius: 8px;
            z-index: 10;
            i {
                margin-right: 10px;
            }
            .fa-search {
                display: none;
            }
            a {
                display: block;
                font: 700 30px / 55px $font;
            }
            input {
                width: 100%;
                margin: 10px 0;
                padding: 6px 10px;
                border: 2px solid $blue2;
                border-radius: 5px;
                font: 26px / 26px $font;
            }
            ul {
              margin-top: 10px;
                li {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 10px;
                    padding: 10px;
                    background: lighten($blue2, 10%);
                    border: 2px solid lighten($blue2, 10%);
                    border-radius: 8px;
                    h1 {
                        font: 700 20px / 20px $font;
                    }
                    p {
                        margin-left: 16px;
                        font: 700 20px / 20px $font;
                    }
                    a {
                        font: 20px / 20px $font;
                    }
                }
            }
        }
        .photo {
            height: 220px;
        }
        .profile-name {
            position: relative;
            top: -100px;
            left: 0;
            margin: 20px 5%;
            font: 40px / 30px $font;
            color: $white;
            i {
                display: none;
            }
        }
        .edit-profile {
            top: -120px;
            font: 700 20px / 30px $font;
        }
        .unfriend {
            top: -120px;
            font: 700 20px / 30px $font;
        }
    }
}
