// Add media queries
// Profile screen
#container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $white;
    z-index: -2;


    .save-profile {
        position: absolute;
        top: 75px;
        right: 5%;
        z-index: 5;
        margin: 5px 0 5px 50px;
        font: 700 14px / 22px $font;
        color: $blue2;
        text-transform: uppercase;
        &:hover {
            color: darken($blue2, 25%);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
          }
    }
    .profile-submit-button {
        background: lighten($blue2, 5%);
        border: 2px solid lighten($blue2, 5%);
        border-radius: 10px;
        margin: auto;
        padding: 5px 30% 8px;
        font: 700 18px / 20px $font;
        color: darken($blue2, 15%);
        text-align: center;
        i {
            color: darken($blue2, 15%);
        }
        &:hover {
            background: darken($blue2, 5%);
            border: 2px solid darken($blue2, 5%);
            color: darken($blue2, 25%);
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
            i {
                color: darken($blue2, 25%);
                -webkit-transition: all 0.7s ease;
                transition: all 0.7s ease;
            }
        }
    }


    #edit-profile-container {
        height: 50%;
        margin: 0 auto;
        // text-align: center;
        h1 {
            position: absolute;
            top: 10%;
            left: 0;
            margin: 0 0 20px 20px;
            color: $red;
            i {
                color: $blue2;
            }
        }
        h2 {
            color: $red;
            font: 700 18px / 22px $font;
            text-align: left;
        }
        p {
            padding: 10px 0;
            color: $pink;
        }
    }
    span {
        font: 700 18px / 22px $font;
        color: darken($blue2, 15%);
    }

    #profile-main-container {
        height: 50%;
        margin: 0 auto;
        .content {
            width: 90%;
            margin: 0 auto;
            padding: 10px;
            p {
                padding: 10px 0;
                color: $pink;
            }
            i {
                color: $red;
                // why doesn't this work!
            }
            .profile-holidays {
                display: inline-block;
            }
            .profile-colors {
                display: inline-block;
            }
            .profile-interests {
                display: inline-block;
                font: 700 16px / 20px $font;
                text-transform: uppercase;
                text-align: left;
            }
        }
        .content-main {
            position: relative;
            top: 0;
            left: 0;
            .user-photo {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 10%;
                right: 10%;
                // margin-bottom: 20px;
                overflow-y: hidden;
                background: screen($blue2, 20%);
                background-image: url('../photo.jpg');
                background-position: center;
                background-blend-mode: overlay;
                border-radius: 120px;
            }
            //
            //         .clip-text-maybe {
            //             /* if we can clip, do it */
            //             -webkit-text-fill-color: transparent;
            //             -webkit-background-clip: text;
            //             /* what will show through the text
            //   ~ or ~
            //  what will be the background of that element */
            //             background-image: url('../photo.jpg');
            //             /* fallback text color
            //   ~ or ~
            //  the actual color of text, so it better work on the background */
            //             color: red;
            //         }
            h2 {
                margin-left: 20px;
                color: $black;
                font: 700 18px / 30px $font;
                text-align: left;
            }
            span {
                font: 18px / 22px $font;
                color: $black;
            }
        }
        .content-details {
            position: relative;
            top: 0;
            left: 0;
            margin-left: 8%;
            h1 {
                color: $red;
                margin-bottom: 20px;
                color: $black;
            }
            h2 {
                color: $black;
                font: 700 18px / 30px $font;
                text-align: left;
            }
            span {
                display: inline-block;
                font: 18px / 22px $font;
                color: $black;
            }
        }
        .lists {
            .list-name {
                padding: 10px 5%;
                font: 700 18px / 22px $font;
                color: darken($blue2, 20%);
            }
            .add-list {
                float: right;
                color: darken($blue2, 20%);
            }
            .friends-list {
                padding: 10px 5%;
                font: 700 18px / 22px $font;
                color: darken($red, 20%);
            }
        }
        .content-list {
            width: 100%;
            height: 40px;
            margin: 50px 0 150px;
            background: $blue2;
            ul {
                width: 90%;
                height: 120px;
                margin: 0 5%;
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: scroll;
                // border: 2px solid red;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    width: 140px;
                    height: 100px;
                    margin: 5px;
                    background: $blue2;
                    text-align: center;
                    border-radius: 5px;
                    &:hover {
                        opacity: 0.8;
                    }
                    h1 {
                        color: darken($blue2, 20%);
                    }
                    h2 {
                        color: darken($blue2, 20%);
                    }
                    .fa-heart {
                        color: darken($blue2, 20%);
                    }
                    .fa-plus {
                        padding-top: 15%;
                        color: darken($blue2, 20%);
                    }
                }
            }
        }
        .friend-list {
            width: 100%;
            height: 40px;
            margin: 50px 0 150px;
            background: $red;
            ul {
                width: 90%;
                height: 120px;
                margin: 0 5%;
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: scroll;
                // border: 2px solid red;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    width: 140px;
                    height: 100px;
                    margin: 5px;
                    background: $red;
                    text-align: center;
                    border-radius: 5px;
                    &:hover {
                        opacity: 0.8;
                    }
                    h1 {
                        color: darken($red, 20%);
                    }
                    h2 {
                        color: darken($red, 20%);
                    }
                    .fa-heart {
                        color: darken($red, 20%);
                    }
                    .fa-plus {
                        padding-top: 15%;
                        color: darken($red, 20%);
                    }
                }
            }
        }
        // .content-list-new {
        //     position: relative;
        //
        //     width: 100%;
        //     height: 40px;
        //     margin: 150px 0;
        //     background: $blue2;
        // }
    }
}
