// Add media queries
// Profile screen
#container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $white;
    // opacity: 0.6;
    #profile-container {
        width: 60%;
        height: 50%;
        margin: 20% auto;
        opacity: 1;
        text-align: center;

        p {
            padding: 10px 0;
            color: $black;
        }
        i {
          color: $blue2;  // why doesn't this work!
        }
        .profile-submit-button {
            background: $white;
            border: 2px solid $blue2;
            border-radius: 70px;
            padding: 5px 60px 8px;
            font: 18px / 20px $font;
            color: $blue2;

            &:hover {
                border: 2px solid lighten($blue2, 10%);
                color: lighten($blue2, 10%);
                -webkit-transition: all 0.7s ease;
                transition: all 0.7s ease;
            }
        }

    }
}
